*::-webkit-scrollbar {
    display: none;
  }

.containerDark {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    background-color: rgb(37, 37, 37);
    color: #a3a3a3;
    overflow-y: auto;
  }
  
  .containerLight {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    background-color: rgb(228, 228, 228);
    color: black;
    overflow-y: auto;
  }

  .titleDark {
    color: white;
  }

  .titleLight {
    color: #696969;
  }


.content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

@media screen and (max-width: 700px) {
  .containerDark {
    margin-top: 75px;
  }

  .containerLight {
    margin-top: 75px;
  }
  .content {
    margin-top: 4rem;
    width: 90%;
  }
}