.containerDark {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  background-color: rgb(37, 37, 37);
  color: #a3a3a3;
  overflow-y: auto;
}

.containerLight {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  background-color: rgb(228, 228, 228);
  color: black;
  overflow-y: auto;
}

.contentDark {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: inherit;
}

.contentLight {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: inherit;
}

.titleDark,
.linkDark {
  color: white;
  font-weight: bold;
}

.titleLight,
.linkLight {
  color: rgb(77, 77, 77);
  font-weight: bold;
}

.textDark {
  margin: 5px;
  padding: 0;
}

.textLight {
  margin: 5px;
  padding: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  margin: 0 10px;
}

.form {
  width: 100%;
  height: 878px;
}

@media screen and (max-width: 700px) {
  .form {
    height: 1024px;
  }

  .containerDark {
    margin-top: 75px;
  }

  .containerLight {
    margin-top: 75px;
  }
  .contentDark {
    margin-top: 4rem;
    width: 90%;
  }

  .contentLight {
    margin-top: 4rem;
    width: 90%;
  }
}
