.backFooterDark {
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

.backFooterLight {
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0f1c2b;
    border-radius: 10px 10px 0 0;
}

.mainContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a3a3a3;
    height: 30px;
    
}

.mainContent > p > a {
    text-decoration: none;
    color: #ffffff;
}

.linksContent {
    height: 25px;
    display: flex;
    align-items: center;
}

.linksContent > a {
    height: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 7px;
    margin-right: 7px;
}

.linksContent > a > img {
    
}
