*::-webkit-scrollbar {
  display: none;
}

.containerDark {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  background-color: rgb(37, 37, 37);
  color: #a3a3a3;
  overflow-y: auto;
}

.containerLight {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  background-color: rgb(228, 228, 228);
  color: black;
  overflow-y: auto;
}

.contentDark {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: inherit;
}

.contentLight {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: inherit;
}

.titleDark {
  color: white;
}

.titleLight {
  color: #696969;
}

.linkDark {
  color: white !important;
}

.linkLight {
  color: rgb(95, 95, 95) !important;
}

.headDescription {
  font-size: 1.5em;
  text-align: center;
}

.headDescriptionDark {
  color: white;
}

.headDescriptionLight {
  color: #696969;
}

@media screen and (max-width: 700px) {
  .containerDark {
    margin-top: 75px;
  }

  .containerLight {
    margin-top: 75px;
  }
  .contentDark {
    margin-top: 4rem;
    width: 90%;
  }

  .contentLight {
    margin-top: 4rem;
    width: 90%;
  }
}
  