body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a3a3a3;
}


* {
    -webkit-tap-highlight-color: transparent;
}

a {
  text-align: center;
}

.links {
  background-color:  #0f1c2b;
  color : #a3a3a3;
  padding: 3px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  display: none;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  background-color: rgb(37, 37, 37);
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: block;
  background-color: rgb(170, 170, 170);
  width: 10px;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(112, 112, 112);
  border-radius: 5px;
}
.content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

@media screen and (max-width: 700px) {
  .container {
    margin-top: 75px;
  }
  .content {
    margin-top: 4rem;
    width: 90%;
  }
}
  

