.tenzContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  background-color: rgb(37, 37, 37);
  overflow-y: auto;
}

main {
  background-color: #f5f5f5;
  height: 400px;
  width: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  font-family: Karla, sans-serif;
  color: black;
}

.title {
  font-size: 40px;
  color: black;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif ;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.diceContainer {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dieFace {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.diceRoller {
  background-color: #28486d;
  color: #e6e6e6;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Karla", sans-serif !important;
}

.diceRoller:focus {
  outline: none;
}

.diceRoller:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}

.timer {
  width: 70px;
}

.scoreIndicator {
  width: 70px;
}

@media screen and (max-width: 999px) {
  main {
    width: 90%;
    height: 110vw;
    max-width: none;
    border-radius: 50px;
  }

  .title {
    font-size: 3rem;
  }

  .instructions {
    font-size: 0.9rem;
    width: 80%;
  }

  .diceContainer {
    grid-template: auto auto / repeat(5, 2fr);
  }

  .dieFace {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .dieFace > h2 {
    font-size: 2rem;
  }

  .diceRoller {
    font-size: 1.5rem;
    padding: 10px;
    min-width: 100px;
    border-radius: 15px;
  }

  .timer {
    width: 70px;
    text-align: center;
  }

  .timer > span {
    font-size: 1rem;
  }

  .scoreIndicator {
    width: 70px;
    font-size: 1rem !important;
    text-align: center;
  }

  .footDiv > p {
    font-size: 1rem;
  }
}
